@model FWD.Foundation.Forms.SumInsuredViewModel
<label>@Model.SumInsured</label>
<label>@Model.Currency</label>
<input type="text" />
<label>@Model.LowRangeText</label>
<label>@Model.LowRangeValue</label>
<label>@Model.HighRangeText</label>
<label>@Model.HighRangeValue</label>
